html {
  background:rgb(144, 212, 255);
  color: black;

}
body{
  border: 3px solid;
  background: blueviolet;
  box-sizing: border-box;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


header {
  float: left;
  align-items: center;
  text-align: center;
  display: center;
  color: white;

}

.logo{
  width: 50px;
  height: 50px;

}
.navigation {
  box-sizing: inherit;
  box-shadow: 2px 6px;
}


h1 {
margin: 3px;
width: 400px;
height: 110px;
}

p {
background: rgb(207, 207, 250);
display: inline;
}

.intro-news {
  display: flex;
  flex-direction:column;
  background: rgb(9, 65, 168);
  min-width: 10px;
  align-items:center;
  width: auto;
  height: auto;
  padding: 5px solid;
  color:rgb(144, 212, 255);
}

img {
  max-width: 100%;
  padding: 5px;
  display: block;
  display: grid
}


.small-news{
  display: grid;
  float: left;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  margin: 10px auto;
  width: 400px; /* Sätter bredden på varje div, 50% av ytrymmet -20px margin */
  height: auto;
  border: 3px solid blue;
}

@media (min-width: 668px) {
  header{
    display: align;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    background: white;
    border: 1px solid blue;
    width: 100%;
    color: black;
  }

  h1 {
    width: 400px;
  }

  img{
    display:flex;
  }

}
